.btn{
    padding: 15px;
    font-weight: bold;
    font-size:small;
    border-radius: 1px solid #007bff(231, 53, 53);
    color: #007bff;
    background-color:transparent;
    transition: .6s ease;
}

.btn:hover{
     cursor:pointer;
     border-radius: 6px;
     border: none;
     background-color: #007bff;
     color: black;
     box-shadow: 0 0 5px #007bff ,0 0 10px #007bff ,0 0 15px #007bff;
     font-weight: bold;
      
}